body {
  background: #f1f1f1;
  font: 15px/1.5 "Fira Sans", sans-serif;
}

.container {
  margin: 2rem auto;
  width: auto;
  max-width: 40rem;
}

a { color: #4183c4; text-decoration: none; }
a:hover { text-decoration: underline; }

.header {
  border-bottom: 1px solid black;
}

.header h1 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.footer {}

.contact {
  float: left;
  width: 50%;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
