html {
  font: 20px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

@media print {
  html {
    font-size: 16px;
  }
}

body {
  background: #fcfdff;
  color: #001514;
  margin: 0;
}

@media print {
  body {
    background: transparent;
  }
}

.container {
  margin: 1.5rem auto;
  width: auto;
  max-width: 40rem;
  padding: 0 1rem;
}

@media print {
  .container {
    max-width: 100%;
  }
}

a {
  color: #4183c4;
  text-decoration: none;
  position: relative;
}
a:focus,
a:hover {
  outline: none; /* replaced by pseudo-element */
  border-bottom: 1px solid;
}
a:visited {
  color: #2b5884;
}
a.alt,
a.alt:visited {
  color: #c17400;
}
a.alt-2,
a.alt-2:visited {
  color: #001514;
}
a.alt-2:hover {
  border-bottom: none;
}

img {
  max-width: 100%;
}

img.me {
  width: 70px;
  border-radius: 35px;
  margin-bottom: 1em;
}

img.me-small {
  height: 20px;
  border-radius: 10px;
}

.header {
  border-bottom: 1px solid black;
}

.header h1 {
  font-size: 1rem;
  margin: 0.5rem 0;
  font-weight: normal;
}

blockquote {
  font-style: italic;
  color: #555;
  margin: 1em 2em;
}

.mini-about {
  max-width: 14em;
  margin: 0 auto;
  text-align: center;
  padding: 2em 0 1em;
}

.mini-about p {
  margin-top: 0;
}

.footer {
  border-top: 1px solid #eee;
  margin: 1.5em 0;
  overflow: hidden;
  padding-top: 1.5rem;
}

.contact {
  float: left;
  width: 50%;
}

.contact p {
  margin: 0;
}

@media (max-width: 31em) {
  .contact {
    width: 100%;
    float: none;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hire-me {
  margin: 1em 0;
  padding: 1em;
  background: #ebf2f9;
  border: 1px solid #4183c4;
}

.hire-me a {
  font-weight: bold;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.posts {
  list-style: none;
  padding-left: 0;
}

.posts li {
  margin-bottom: 0.444em;
}

.post-title {
  margin-bottom: 0;
}

.date {
  font: 0.667em monospace;
  padding-right: 1em;
}

.meta {
  margin: 0;
}

/* standard */
.post pre {
  border: 1px solid #d6d7d8;
  background-color: #f7f8f9;
  padding: 0.4em;
  overflow-x: scroll;
}

.post ul,
.post ol {
  margin-left: 0;
  padding-left: 2em;
}

.post code {
  font-family: monospace;
  font-size: 0.9em;
  border: 1px solid #d6d7d8;
  background-color: #f7f8f9;
  padding: 0 0.2em;
}

.post pre code {
  border: none;
  line-height: 1.1;
  padding: 0;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #fff;
}

.post pre.terminal code {
  background-color: #333;
}

hr {
  border: none;
  border-top: 1px solid #d6d7d8;
  width: 100%;
  max-width: 10em;
  margin: 2em auto;
}

.tweet-embed {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
