---
layout: default
title: "Tom Ashworth"
---

<div id="home">
  <section class="mini-about">
    <img class="me" src="/images/sousa.jpg" width="70" height="70" />
    <p>
      Hello, I'm <a href="//twitter.com/tgvashworth">Tom</a>. <br><a
        href="mailto:tgvashworth@gmail.com?subject=Hello">Say hello.</a>
    </p>
  </section>
  <ul class="list-group list-group-flush">
    {% for post in site.posts %}
    <li class="list-group-item px-0 px-sm-3 d-flex flex-column">
      <div class="order-2"><a href="{{ post.url }}">{{ post.title }}</a></div>
      <span class="order-1">{{ post.date | date_to_string }}</span>
      {% if post.summary %}
      <p class="summary order-3 text-muted mb-0">{{ post.summary }}</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>