:root {
  --bg-color: hsl(199, 20%, 96%);
  --text-color: #000;
  --primary-color: hsl(199, 100%, 60%);
  --accent-color: hsl(199, 100%, 50%);
  --bg-break-color: hsl(199, 50%, 90%);
  --fade-color: hsl(60, 100%, 50%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: hsl(199, 100%, 6%);
    --text-color: #fff;
    --bg-break-color: hsl(199, 100%, 15%);
    --fade-color: hsl(60, 100%, 40%);
  }
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  transition: background-color 0.5s;
}

body[data-mode="break"] {
  background-color: var(--bg-break-color);
}

.pom {}

@media (prefers-color-scheme: dark) {
  .pom {
    filter: invert(100%)
  }
}

#pomodoro {
  margin-top: 5rem;
}

#timer {
  font-size: 5rem;
  margin: 2rem 0;
}

#message {
  font-size: 1.5rem;
  min-height: 2rem;
}

@keyframes yellowfade {
  from {
    background: var(--fade-color);
  }
}

.highlight {
  animation: yellowfade 3s;
}