<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">
<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="phuu.net atom feed" />

<link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
<link rel="stylesheet" href="/css/syntax.css">
<link rel="stylesheet" href="/css/main.css?{{ site.time | date: '%s' }}">

<div class="container">
  <header class="header">
    <h1 class="title"><strong><a class="alt" href="/">{{ site.name }}</a></strong> <em>is</em> Tom Ashworth</h1>
  </header>

  {{ content }}

  <footer class="footer">
    <div class="contact">
      <p>
        <strong>Tom Ashworth</strong><br />
        Frontend Engineer, Twitter<br />
        <a href="mailto:tgvashworth@gmail.com">tgvashworth@gmail.com</a>
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="https://github.com/phuu">github.com/phuu</a><br />
        <a href="https://twitter.com/tgvashworth">twitter.com/tgvashworth</a><br />
      </p>
    </div>
  </div>
</div>
